/.idea
/build
/circonus-unified-agent
/circonus-unified-agent.exe
/circonus-unified-agent*gz
/vendor
.DS_Store
/dist
/circonus-unified-agent.conf
.envrc
Vagrantfile
.vagrant
console.log
/cache.d
/trace.d
install/README_backup.md
tmp/
.vscode/launch.json
/*.conf
!/etc/*.conf
cmd/circonus-unified-agent/__debug_bin
